<%- include("../default/adminHeader") %>

<hr>
<a href="/game1/updateForm"><button>game1 List</button></a>
<hr>

<hr>
<a href="/speak_question/list_form">SpeakList GoGo</a>
<hr>

<hr>
수아꺼 <a href="/meaning/listForm">meaning</a>
<hr>

<hr>
<a href="/blank_question/list_form">BlankList gogo</a>
<hr>