 .gd {
     color: red;
 }

 p {
     text-align: center;
     padding-top: 140px;
     font-size: 14px;
 }

 td {
     border: solid 1px rgba(0, 0, 0, 1);
 }

 .IdandLevel{
    all:unset;
    width: 30px;
    text-align: center;
 }

 .level_text_left{
    text-align: left;
 }

 .adminbackground{
    background-image: url('/static/img/sua/admin.jpg');
 }

 .divbackground{
    background-color: rgb(255, 255, 251);
 }