<style>
    .admin-header {
        display: flex;
        justify-content: space-between;
        color: white;
    }
    
    .admin-a {
        text-decoration: none;
        color: rgb(102, 181, 230);
        margin: 0 50px;
        font-size: 70px;
        padding: 15px;
    }
</style>

<div class="admin-header">
    
    <a href="/"><img src="/static/img/lingotrail.png"></a>

    <a class="admin-a" href="/admin">ADMIN</a>
</div>