<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		/* Style the body */
		.header body {
		  	font-family: Arial;
		  	margin: 0;
		}

		.header div {
			width : 100%;
			text-align: center;
			padding: 20px;
		}		
		
		.header header {
		  	padding: 20px;
		  	background: #ffffff;
		  	color: white;
		  	font-size: 15px;
		}
		
		.header a {
			font-size: 16px;
			text-decoration: none;
			color: #00a0ff;
			font-weight: bold;
		}
		
		.header img {
			height: 70px;
		}
		
		.header #l {
			margin-left: 900px;
		}
	</style>
</head>
<body>
	<% if(userId === undefined) { %>
		<div class="header">
			<a href="/member"><img src="/static/img/lingotrail.png"></a>
			<a href="/member/login" id="l">SIGN IN</a>&nbsp;&nbsp;&nbsp;
			<a href="/member/register">REGISTER</a>
		</div>	
	<% } else { %>
		<div class="header">
			<a href="/member"><img src="/static/img/lingotrail.png"></a>
			<% if(loginType == 1){ %>
				<a href="/admin" id="l">ADMIN</a>&nbsp;&nbsp;&nbsp;
				<a href="/member/info" >INFO</a>&nbsp;&nbsp;&nbsp;
				<a href="/board">BOARD</a>&nbsp;&nbsp;&nbsp;
				<a href="/member/logout">SIGN OUT</a>
			<% }else{ %>
				<a href="/member/info" id="l">INFO</a>&nbsp;&nbsp;&nbsp;
				<a href="/board">BOARD</a>&nbsp;&nbsp;&nbsp;
				<a href="/member/logout">SIGN OUT</a>
			<% } %>
		</div>
		<% } %>