<script src="/static/js/image_read.js"></script>


<form action="/game1/register" method="post" enctype="multipart/form-data">

  <label for="question">문제:</label>
  <input type="text" id="question" name="question" value="이것은 무엇일까요??"><br>

  <label for="image">이미지 업로드:</label>
  <input type="file" id="image" name="image" onchange="readURL(this)"><br>
  <img src="#" id="preview" width="100" height="100" alt="미리보기"><br>

  <label for="answer">정답:</label>
  <input type="text" id="answer" name="answer"><br>

  <label for="wrong1">오답1:</label>
  <input type="text" id="wrong1" name="wrong1"><br>

  <label for="wrong2">오답2:</label>
  <input type="text" id="wrong2" name="wrong2"><br>

  <label for="wrong3">오답3:</label>
  <input type="text" id="wrong3" name="wrong3"><br>

  <label for="level">LEVEL:</label>
  <input type="text" id="level" name="level"><br>

  <label for="explain">정답설명:</label>
  <input type="text" id="explain" name="explain"><br>

  <input type="submit" value="문제 추가"><br>
</form>

<hr>

<a href="/">home</a>