<h3>로그인 폼 입니다.</h3>

<form action="/member/login.do" method="post">
    <input type="text" id="id" name="id" placeholder="id input">
    <input type="text" id="pw" name="pw" placeholder="pw input">
    <input type="submit" value="로그인"> <input type="button" onclick="window.history.back();" value="뒤로가기">
</form>