<h3>회원가입 폼 입니다.</h3>

<form action="/member/register.do" method="post">
    <input type="text" id="id" name="id">
    <input type="password" id="pw" name="pw">
    <input type="text" id="name" name="name">
    <input type="text" id="age" name="age">
</form>