<h3>회원가입 폼 입니다.</h3>

<form action="/member/register.do" method="post">
    아이디 <input type="text" id="id" name="id"><br>
    이름 <input type="text" id="name" name="name"><br>
    이메일 <input type="text" id="email" name="email"><br>
    비밀번호 <input type="password" id="pw" name="pw"><br>
    <input type="submit" value="회원가입">
</form>