<%- include("../default/header") %>
진짜? 정말로? 회원 탈퇴하실건가요..?<br>
LingoTrail은 정말 좋은 어플리케이션이예요. 다시한번 생각해봐요.<br>
LingoTrail은 눈물이 나네요..ㅜㅜ <br>
가지마요오오...<br>
<form action="/member/unregister.do" method="post">
    <input type="text" id="id" name="id" placeholder="아이디"><br>
    <input type="password" id="pw" name="pw" placeholder="비밀번호"><br>
    <input type="submit" value="탈퇴하기">
</form>