<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/joon/style.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <%- include("../../default/header") %>

    <% 

    %>
    <section class="stepPage">
        <form action="blank_quetionStart.do" method="post">
            <div>
                
            </div>
        </form>
    </section>
</body>

</html>