<%- include("../default/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
		div {
			width: 100%;
			padding: 20px;
			text-align: center;
		}
        button {
            width: 15%;
            padding: 15px 30px;
            margin: 5px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 12px;
            box-sizing: border-box;
            background-color: #FAFAFA;
            font-weight: bold;
            font-size: 15px;
        }
        
    </style>
</head>
<body>
    <div>
        <h2>점수 랭킹 보기</h2><br>
        <button><a href="game01">GAME1</a></button><br><br>
        <button><a href="game02">GAME2</a></button><br><br>
        <button><a href="game03">GAME3</a></button><br><br>
        <button><a href="/ranking/total">TOTAL</a></button>
    </div>
</body>
</html>
